body {
	background: #FAFAFA;
	font-family: arial, sans serif;
	font-size: 13px;
	width: 100%;
}

.column {
	background: #FFF;
	padding: 0.5em 1em;
}

img {
	width: 100%;
}

.image-frame {
	border: 1px #AAA solid;
	padding: 1em;
}

#header {
	background: #333;
	color: #FFF;
}